*{
    font-size: 40px;
    color:#fff;
}

.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    container-type: inline-size;
    container-name: proyects;
}

.back{
    border: none;
    background-color: rgba(27, 38, 59);
    font-size:30px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}
.back:hover{
    opacity: 0.7;
}

.proyects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    max-width: 1500px;
    width: 100%;
    color: #000;
}



.proyects__proyects-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 0;
    width: 100%;
}

.proyect__cont {
    display: grid;
    place-content: center;
    margin-top: 20px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

h2 {
    padding: 0px 0px 10px 20px;
    text-align: start;
    font-size: 35px;
    border-bottom: 3px solid black;
    color: #000;
}

.proyect__cont:nth-child(1){
    background-image: linear-gradient(#0007,#0006), url("/image/angular.jpg");
    background-position: center;
    background-size: cover;
}
.proyect__cont:nth-child(2){
    background-image: linear-gradient(#0006,#0005), url("/image/nestjs.jpg");
    background-position: center;
    background-size: cover;
}
.proyect__cont:nth-child(3){
    background-image: linear-gradient(#0006,#0005), url("/image/spring.jpg");
    background-position: center;
    background-size: cover;
}

@container proyects (min-width:900px) {
    
    .proyects__proyects-container{
        flex-direction: row;
        justify-content: space-around;

    }
    .proyect__cont{
        margin: 2px;
    }

}