.slider {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    text-align: center;    
}

.slider input[type=radio] {
    display: none;
}

.slider label {
    cursor: pointer;
    text-decoration: none;

}

.slides {
    padding: 1px;
    position: relative;
    z-index: 1;
}

.overflow {
    width: 100%;
    overflow: hidden;
}
.slide1:checked~.slides .inner {
    transform: translateX(0%);
}

.slide2:checked~.slides .inner {
    transform: translateX(-100%);
}

.slide3:checked~.slides .inner {
    transform: translateX(-200%);
}

.slide4:checked~.slides .inner {
    transform: translateX(-300%);
}

.slide5:checked~.slides .inner {
    transform: translateX(-400%);
}

.slide6:checked~.slides .inner {
    transform: translateX(-500%);
}

.slide7:checked~.slides .inner {
    transform: translateX(-600%);
}

.slide8:checked~.slides .inner {
    transform: translateX(-700%);
}

.slide9:checked~.slides .inner {
    transform: translateX(-800%);
}

.inner {
    display: flex;
    transition: transform 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slide {
    min-width: 100%;
    height: 300px;
}
.slide-content{
    height: 100%;
}
.controls {
    margin: -130px 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

.controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.slide1:checked~.controls label:nth-child(2),
.slide2:checked~.controls label:nth-child(3),
.slide3:checked~.controls label:nth-child(4),
.slide4:checked~.controls label:nth-child(5),
.slide5:checked~.controls label:nth-child(6),
.slide6:checked~.controls label:nth-child(7),
.slide7:checked~.controls label:nth-child(8),
.slide8:checked~.controls label:nth-child(9),
.slide9:checked~.controls label:nth-child(1) {
    background-image: url("/image/arrownext.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: right;
    margin: 130px 0 0 -20px;
    display: block;
}

.slide1:checked~.controls label:nth-child(9),
.slide2:checked~.controls label:nth-child(1),
.slide3:checked~.controls label:nth-child(2),
.slide4:checked~.controls label:nth-child(3),
.slide5:checked~.controls label:nth-child(4),
.slide6:checked~.controls label:nth-child(5),
.slide7:checked~.controls label:nth-child(6),
.slide8:checked~.controls label:nth-child(7),
.slide9:checked~.controls label:nth-child(8) {
    background-image: url("/image/arrowbefore.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    margin: 130px 0 0 20px;
    display: block;
}

.bullets {
    margin: 100px 100px 0;
    text-align: center;
}

.bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

.slide2:checked~.bullets label:nth-child(2),
.slide1:checked~.bullets label:nth-child(1),
.slide3:checked~.bullets label:nth-child(3),
.slide4:checked~.bullets label:nth-child(4),
.slide5:checked~.bullets label:nth-child(5),
.slide6:checked~.bullets label:nth-child(6),
.slide7:checked~.bullets label:nth-child(7),
.slide8:checked~.bullets label:nth-child(8),
.slide9:checked~.bullets label:nth-child(9) {
    background: #48e;
}

.img {
    height:  100%;
    max-width:100%;
    width: 100%;
}
