@use "../slider.scss";

.events {
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
    color: #fff;
    border-radius: 11px;
    box-shadow: 5px 0px 10px 0px #000;
    background: linear-gradient(rgb(24, 42, 67), rgb(0, 0, 0));
    container-type: inline-size;
    container-name: events;
}

.events__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}


.events__data {
    width: 100%;
    max-width: 650px;
    text-align: justify;
    overflow-wrap: break-word;
    padding: 10px;
}

.events__data__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
}

.github__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: rgba(43, 202, 255, 0.534);
}


.github__link a {
    font-size: 10px;
    text-decoration: none;
    color: rgb(43, 202, 255);
}

.github__link:nth-child(2){
    background-color: rgb(43, 202, 255,0.534);
}
.links {
    display: flex;
    justify-content: space-around;
}
.github__link:hover {
    background-color: #fff;
}
    
.image {
    width: 30px;
}

h2{
    margin: 0;
    text-align: end;
    font-size: 45px;
}

h3 {
    margin: 0;
    color: rgb(43, 202, 255);
    padding-right: 10px;
    text-align: end;
}

li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 5px;
}

@container events (min-width:900px) {
    .events__wrapper {
        margin: 0;
        flex-direction: row;
        padding: 10px;
        height: 500px;
    }

    .events__data__menu{
        justify-content: end;
    }

    h2{
        padding-left: 20px;
        text-align: start;
    }

    h3{
        padding-left: 5px;
        text-align: start;
    }

    li{
        margin-right: 20px;
    }
    
    .events__img-cont {
        max-width: 700px;
        width: 100%;
        margin-top: 10px;
    }
}