@use "../slider" as *;
/* ------ COMPONENT SECTION ------- */

.deskary {
    margin-top: 50px;
    width: 100%;
    color: #fff;
    background: linear-gradient(rgb(20, 37, 58) 30%, rgb(0, 0, 0));
    border-radius: 10px;
    box-shadow: 2px 0 15px 0 #000;
    container-type: inline-size;
    container-name: deskary;
}

.deskary__wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// -------- DATA SECTION --------//
.deskary__data {
    width: 100%;
    max-width: 950px;
}

.deskary_desciption {
    font-size: 20px;
    padding: 10px;
}

.deskary__data__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    list-style: none;
}

.links {
    display: flex;
    justify-content: space-around;
}

.github__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px 20px;
    width: 90px;
    height: 30px;
    background-color: rgba(18, 152, 196, 0.855);
}

.github__link:hover {
    background-color: #fff;
}

.github__link a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}



.image {
    width: 40px;
}

h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 45px;
}

h3 {
    margin: 0;
    font-size: 30px;
    padding-left: 5px;
    color: rgb(11, 173, 227);
}

li {
    display: flex;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 30px;
}

// ------ SECTION QUERY ------ //

@container deskary (min-width:900px) {
    .deskary__wrapper {
        flex-direction: row;
        padding: 20px;
        height: 450px;
    }

    h2 {
        margin-top: 1;
        text-wrap: balance;
    }

    h3 {
        font-size: 25px;
    }

    .deskary__data {
        border-radius: 0px 25px 25px 0px;
    }

    .deskary__description {
        max-width: 600px;
    }

    .deskary__img-cont {
        max-height: initial;
        margin-top: 10px;
        width: 100%;
        border-radius: 25px 0px 0px 25px;
    }

    .image {
        width: 35px;
        height: 35px;
    }


}