@use "../slider" as *;
/* ------ COMPONENT SECTION ------- */
.deskary {
    margin-top: 50px;
    width: 100%;
    color: #fff;
    background-color: rgb(13, 27, 45);
    container-type: inline-size;
    container-name: deskary;
    font-size: 20px;
}

.deskary__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

// -------- DATA SECTION --------//
.deskary__data {
    width: 100%;
    max-width: 750px;
    text-align: justify;
    line-height: 1.6;
    hyphens: auto;
    margin: 2px;
    overflow-wrap: break-word;
    padding: 10px;
}

h2 {
    text-align: center;
}

// ------ SECTION QUERY ------ //

@container deskary (min-width:900px) {
     
    .deskary__wrapper {
        flex-direction: row;
        padding: 10px;
        height: 600px;
    }

    h2 {
        margin-top: 1;
        font-size: 2rem;
        text-wrap: balance;
    }

    .deskary__data {
        border-radius: 0px 25px 25px 0px;
     margin-bottom: 50px;
    }

    .deskary__description {
        max-width: 650px;
     
    }

    .deskary__img-cont {
        max-height: initial;
        border-radius: 25px 0px 0px 25px;
    }

    .slider {
        justify-content: center;
        object-fit: cover;
    }
}