
@use "../slider" as *;
/* ------ COMPONENT SECTION ------- */

.deskary{
    margin-top: 50px;
    width: 100%;
    container-type: inline-size;
    container-name: deskary;
    color: #fff;
}

.deskary__wrapper{
    display: flex;
    flex-direction: column;
}

// -------- DATA SECTION --------//
.deskary__data{
    max-width: 900px;
    height: 100%;
    padding: 20px;
}


// ------ SECTION QUERY ------ //

@container deskary (min-width:900px){
    .deskary__wrapper{
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        align-items: normal;
        margin: auto;
    }

    h2{
        margin-top: 1;
        font-size: 2rem;
        text-wrap: balance;
    }

    .deskary__data{
        border-radius: 0px  25px 25px  0px;
    }

    .deskary__description{
        max-width: 600px;
    }
    .deskary__img-cont{
        max-height: initial;
        border-radius: 25px  0px 0px  25px;
    }
    #slider{
        justify-content: center;
        object-fit: cover;
        min-width: 500px;
        max-width: 1000px;
    }
}