.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    container-type: inline-size;
    container-name: profile;
}

.proyects__wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    text-align: start;
    max-width: 1500px;
    width: 100%;
    color: #000;
}

.proyects__proyects-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.proyect__cont {
    margin: 2px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(65, 90, 119);
    border-radius: 20px;
}

.proyect__cont-deskary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding: 0px 0px 10px 20px;
    text-align: start;
    font-size: 35px;
    border-bottom: 3px solid black;
}
app-deskary {
    width: 90%;
}