/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, rgb(14, 20, 36) 0%, rgb(19, 25, 40) 50%, rgb(28, 37, 56) 100%);
  color: #fdfdfddd;

}
body,div,ul,nav,header,footer,a,li,label{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}