/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  background-color: #e8e8e9;
  color: #fdfdfddd;

}
body,div,ul,nav,header,footer,a,li,label{
  margin: 0;
  padding: 0;
}
