.profile{
    margin-top: 10px;
    container-type: inline-size;
    container-name: profile;
}
.profile__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(13, 27, 45, 0.753);
    max-width: 1400px;

}
.profile__img-cont{
    max-height: 500px;
    overflow: hidden;
}
.profile__img{
    max-width: 100%;
    width: 700px;
}

.profile_data{
    max-width: 700px;
    padding: 15px;
}
 
.profile__skills-cont h2{
    color: #fff;

}
.profile__skill{
    list-style: none;
    display: flex;
    margin:  10px;
    max-width: 700px;
    margin-left: 0;
    align-items: center;
}
.load-bar{
    border: 2px solid #48e;
    border-radius: 8px;
    color:#fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 2px;
    margin-left: 0;
}

.load-bar__bar{
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 4px;
}

.bar--60{
    width: 60%;
}

.bar--50{
    width: 50%;
}

/* -------- PROFILE QUERIES -------- */
@container profile (min-width:720px){
    .profile__wrapper{
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        align-items: normal;
        margin: auto;
    }
    h1{
        margin-top: 1;
        font-size: 2rem;
        text-wrap: balance;
    }

    .profile_data{
        background-color: rgba(13, 27, 45, 0.753);
        border-radius: 0px  25px 25px  0px;
    }

    .profile__description{
        max-width: 600px;

    }

    .profile__img-cont{
        max-height: max-content;
    }
    .profile__img{
        height: 100%;
        border-radius: 25px 0px 0px 25px;
        object-fit: cover;
        width: 550px;
        background-color: #fff;
    }
    
}